<style type="text/css">
  .card {
    background-color: #6fab6f;
    border-radius: 8px;
  }
  .card-header{
    padding:10px;
  }
  .list-box{
    background-color: white;
  }
  .active a{
    background-color: blue;
  }
</style>

<div class="container">
<div class="row">
  <div class="col-xs-12">
  <ul class="nav nav-tabs">
    <li class="active" style="width: 50%;"><a href="#summary">Summary</a></li>
    <li style="width: 50%;"><a href="#menu1">Groups</a></li>
  </ul>
  </div>
</div>

  <div class="tab-content">
    <div id="summary" class="tab-pane fade in active">
        <div style="width: 100%; text-align: center; margin-top: 15px; padding:20px 10px; background-color: white; border-radius: 6px;">
          Everything settled up
        </div>
    </div>

    <div id="menu1" class="tab-pane fade">
      <div class="col-xs-12" style="background-color: white; border: 1px solid white; text-align: center; margin: 10px 0; padding: 10px;">
        No groups
      </div>

    </div>
  </div>
</div>