<div style="width: 100%; height: 100%;">
	<nav id="menu" style="background-color: #2a3f54;">
	  <header>
	  	<div style="padding: 10px; color: white;">
	  		<div style="font-size: 25px; margin-bottom: 10px;">
              Splitte<i class="icon-rupee"></i>
            </div>

            <!-- menu profile quick info -->
            <div>
            	<div style="float: left; width: 40px; height: 40px; border-radius: 50%; border: 1px solid white; background-color: grey; color: white; text-align: center; font-size: 2em;">
            	A
				</div>
            	<div style="float: left; padding-left: 10px;">Welcome<br><span id="user-name">Temp</span></div>
            </div>
        </div>
	  </header>
	  <div style="color: #73879c; clear: both; margin-top: 50px; margin-bottom: 10px;">
        <ul class="nav" style="font-size: 1.3em;">
          <li id="home-btn"><a><i class="icon-home" aria-hidden="true" style="padding: 5px;"></i>Home</a>
          </li>
          <!-- <li id="history-btn"><a><i class="icon-history" aria-hidden="true"></i>History</a>
          </li> -->
          <li id="unacked-btn"><a><i class="icon-users">Notification</i></a></li>
          <!-- <li id="group-btn"><a><i class="icon-eye" aria-hidden="true"></i>View Groups</a>
          </li> -->
          <li id="setting-btn"><a><i class="icon-cog-alt" aria-hidden="true"></i> Settings</a>
          </li>
          <li id="contact-btn"><a><i class="icon-mobile" aria-hidden="true"></i>Contact us</a>
          </li>
          <li id="logout-btn"><a><i class="icon-logout" aria-hidden="true"></i>Log Out</a>
          </li>
        </ul>
      </div>
	</nav>

	<main id="panel" style="background-color: #fcf8e3;">
	  <header style="background-color: #615959; padding: 10px;">
	  	<a class="toggle-button"><i class="icon-menu" style="font-size: 20px;"></i></a>
	  </header>
	  <div class="container">
	  	<div id="top-section" class="row"></div>
	  	<div id="middle-section" class="row">
	  	</div>
	  	<div id="bottom-section" class="row"></div>
	  </div>
    <div id="add-bill-float" style="width: 50px; height: 50px; border: 1px solid teal; position: fixed; bottom: 15px; right: 15px; text-align: center; font-size: 12px; border-radius: 50%; background-color: teal; z-index: 5; font-size: 2.5em;" data-toggle="modal" data-target="#myModal"><i class="icon-plus"></i></div>
    <div id="add-group-float" style="width: 50px; height: 50px; border: 1px solid teal; position: fixed; bottom: 75px; right: 15px; text-align: center; font-size: 12px; border-radius: 50%; z-index: 5; background-color: teal; font-size: 2.2em;"><i class="icon-user-plus"></i></div>
    <!-- <div id="custom-dialog-box" class="hide" style="position: fixed; background-color: #333; top: 0; width: 100%; height: 100%;">
      <div style="position: fixed; left: 10%; right: 10%; top: 20%; z-index: 100; width: 80%; padding: 20px 10px 30px; background-color: white;">
        <div>
            Group Name
        </div>
        <div>
          <div style="margin: 10px;">
            <input type="text" placeholder="group name"/>
          </div>
          <div>
            <input type="text" id="user-val" placeholder="username"><i id="add-user-to-list" class="icon-plus"></i>
          </div>
          <div>
            <ul id="user-list-added">
            </ul>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div style="display: none;" class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog"> -->
    
      <!-- Modal content-->
      <!-- <div class="modal-content" style="background-color:#E6E6FA">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Group</h4>
        </div>
        <div class="modal-body">
          <p>Group Name</p>
          <input type="group" name="enter" class="enter" value="" id="group" required />
          <p>Add Users</p>
          <input type="text" name="enter" class="enter" value="" id="lolz"/>
          <input type="button" value="Add User" class="btn btn-default" id="kk" />
          <br><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Create Group</button>
        </div>
      </div> -->
      
    <!-- </div>
  </div> -->
	</main>
</div>