<div style="width: 100%; height: 100%;">
	<nav id="menu" style="background-color: #2a3f54;">
	  <header>
	  	<div style="padding: 10px; color: white;">
	  		<div style="font-size: 25px; margin-bottom: 10px;">
              Splitte<i class="icon-rupee"></i>
            </div>

            <!-- menu profile quick info -->
            <div>
            	<div style="float: left; width: 40px; height: 40px; border-radius: 50%; border: 1px solid white; background-color: grey; color: white; text-align: center; font-size: 2em;">
            	A
				</div>
            	<div style="float: left; padding-left: 10px;">Welcome<br>Abinash</div>
            </div>
        </div>
	  </header>
	  <div style="color: #73879c; clear: both; margin-top: 50px; margin-bottom: 10px;">
        <ul class="nav" style="font-size: 1.3em;">
          <li id="home-btn"><a><i class="icon-home" aria-hidden="true" style="padding: 5px;"></i>Home</a>
          </li>
          <li id="history-btn"><a><i class="icon-history" aria-hidden="true"></i>History</a>
          </li>
          <li id="unacked-btn"><a><i class="icon-users">Notification</i></a></li>
          <li id="group-btn"><a><i class="icon-eye" aria-hidden="true"></i>View Groups</a>
          </li>
          <li id="setting-btn"><a><i class="icon-cog-alt" aria-hidden="true"></i> Settings</a>
          </li>
          <li id="contact-btn"><a><i class="icon-mobile" aria-hidden="true"></i>Contact us</a>
          </li>
          <li id="logout-btn"><a><i class="icon-logout" aria-hidden="true"></i>Log Out</a>
          </li>
        </ul>
      </div>
	</nav>

	<main id="panel" style="background-color: orange;">
	  <header style="background-color: #615959; padding: 10px;">
	  	<a class="toggle-button"><i class="icon-menu" style="font-size: 20px;"></i></a>
	  </header>
	  <div class="container">
	  	<div id="top-section" class="row"></div>
	  	<div id="middle-section" class="row">
	  	</div>
	  	<div id="bottom-section" class="row"></div>
	  </div>
	</main>
</div>